

/* Start:/bitrix/components/bitrix/system.pagenavigation/templates/show_more/style.css?1670943201130*/
.load_more {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
    text-align: center;
}
/* End */
/* /bitrix/components/bitrix/system.pagenavigation/templates/show_more/style.css?1670943201130 */
